<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agendar</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cadastro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-item #obrigatorio>
      <ion-label>Matéria</ion-label>
      <ion-input         
        [(ngModel)]="materia" 
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descrição</ion-label>
      <ion-input [(ngModel)]="descricao"></ion-input>
    </ion-item>
    <ion-item>

      <ion-datetime 
        #calendario
        locate="pt-BR"
        [showDefaultButtons]="false" 
        [(ngModel)]="datahora"
      ></ion-datetime>

    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="salvar()">Salvar</ion-button>
</ion-content>
